body {
    margin: 0px;
}

.header  {
    display: flex;
    flex-direction: column;
    margin: 0px;
    background-color: #005CC5;
}

.logo {
    width: 31.25rem;
    padding-top: 3.125rem;
    padding-left: 3.125rem;
}

aside {
    position: absolute; 
    top: 0px; 
    right: 0px;
}

img {
    width: 25rem;
}

h3 {
    font-family: "Exo 2", serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
}