body {
    margin: 0px;
}

.header  {
    display: flex;
    flex-direction: column;
    margin: 0px;
    background-color: #005CC5;
}

.logo {
    width: 500px;
    padding-top: 50px;
    padding-left: 50px;
}

aside {
    position: absolute; 
    top: 0px; 
    right: 0px;
}