body {
    margin: 0px;
}

.header  {
    display: flex;
    margin: 0px;
    background-color: #005CC5;
}

h1 h2 h4 {
    margin: 0px;
    display: flex;
    font-family: "Exo 2", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}
